:root {
    --nav-bg: #C1C1C1;
}
a:hover {
    color: darkblue;
}
.top-nav {
    background: var(--nav-bg);
    display: flex;
    align-items: center;
}
.nav-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 1.5em;
}

.logo {
    height: 3em;
    margin: auto;
}