body, html {
    height: 80%;
    width: 80%;
    padding: 0;
    margin: 0 auto;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    border: 1px solid lightgrey;
    border-radius: .5em;
    padding: .5em;
    margin: 1em;
}

div {
    --bg-info-color: lightblue;
    --text-info-color: darkblue;
    --bg-success-color: lightgreen;
    --text-success-color: darkgreen;
    --bg-warning-color: lightgoldenrodyellow;
    --text-warning-color: darkgoldenrod;
    --bg-error-color: lightpink;
    --text-error-color: darkred;
}

div.message-info {
    color: var(--text-info-color);
    background-color: var(--bg-info-color);
}
div.message-success {
    color: var(--text-success-color);
    background-color: var(--bg-success-color);
}
div.message-warning {
    color: var(--text-warning-color);
    background-color: var(--bg-warning-color);
}
div.message-error {
    color: var(--text-error-color);
    background-color: var(--bg-error-color);
}
